@charset "UTF-8";

#header{
    background:#093368;
    color:#FFF;
    padding: 0 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header .logo{
    font-size: 28px;
}
#header .logo img{
    vertical-align: middle;
}
#header a{
    color: #FFF;
}
#header .search{
    margin-right: auto;
    margin-left: 1.5em;
    padding: .3em 0.5em;
    background: #dce5e3;
    border-radius: 2em;
    overflow: hidden;
    flex-shrink: 0;
}
#header .search:before{
    font-family: font_family;
    content: '\e60d';
    color: #112136;
}
#header .search input{
    vertical-align: middle;
    border:none;
    background: none;
    width: 6em;
}
#header .nav{
    display: flex;
    align-items: center;
    height: 82px;
    font-size: 14px;
    margin-left: 1em;
    justify-content: flex-end;
    flex: 1;
}
#header .nav > a{
    /* padding: 0 20px; */
    white-space: nowrap;
    line-height: 82px;
    text-align: center;
    margin-right: 1px;
    max-width: 6em;
    flex: 1;
}
#header .nav > a.act,
#header .nav > a:hover{
    background: #921d1d;
}
#header .nav > a.login{
    border: 1px solid #FFF;
    border-radius: 6px;
    padding: 8px 14px;
    white-space: nowrap;
    line-height: 1;
    max-width: 2em;
    margin-left: 1em;
}
#header .nav > a.login:hover {
    background: #FFF;
    color: #093368;
}
#header .nav .exit{
    margin-left: 1em;
    position: relative;
}
#header .nav .exit a{
    color: #333;
}
#header .nav .exit .exitTan{
    position: absolute;
    background: #FFF;
    right: 0;
    color: #333;
    z-index: 2;
    border:1px solid #cecece;
}
#header .nav .exit .exitTan .ul1{
    padding: 16px 20px;
    white-space: nowrap;
}
#header .nav .exit .exitTan .ul1 li {
    margin-bottom: 4px;
}
#header .nav .exit .userName{}
#header .nav .exit .userName .s1{font-size: 22px}
#header .nav .exit .money b.red{font-size: 18px}
#header .nav .exit .exitTan .btnD{
    text-align: right;
    background: #f8f8f8;
    padding:10px;
}
#header .nav .exit .exitTan .btnD a{
    color: #333;}
#header .nav .shopCart:before{
    font-family: font_family;
    content: '\e60b';
    margin-right: 0.3em;
    font-size: 1.3em;
}
#header .nav .customer:before{
    font-family: font_family;
    content: '\e60c';
    margin-right: 0.3em;
    font-size: 1.3em;
}
#footer{
    background: #6d7785;
    color: #FFF;
    text-align: center;
    margin-top: 16px;
    padding: 24px 0;
    font-size: 12px;
}
#footer .s1{
    display: inline-block;
    color: #a9a9a9;
    margin-top: 1em;
}
#footer .s1 + .s1{
    margin-left: 2em;
}

/*index nav*/
#indexNav{
    background:#FFF;
}
#indexNav .nav{
    /* padding:0 14px; */
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    font-size: 16px;
    padding-top: .5em;
}
#indexNav .nav .act,
#indexNav .nav a:hover{
    border-bottom: 3px solid #921d1d;
}
/* index banner */
#indexBan.swiper-container {
    width: 100%;
    height: 416px;
}
#indexBan .swiper-slide{
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#indexBan .swiper-pagination.w{
    text-align: right;
    width: 1175px;
    left: 50%;
    margin-left: -600px;
}
#indexBan .swiper-pagination-bullet{
    width:10px;
    height: 10px;
}
/* index pro*/
#indexProD{}
#indexProD .w{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#indexProD .floor{
    margin-top: 24px;
}
#indexProD h2{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: normal;
    align-items: baseline;
    margin-bottom: 7px;
}
#indexProD h2 .tit{
    border-left: 4px solid;
    line-height: 1;
    padding-left: 5px;
}
#indexProD .more{
    font-size: 13px;
}
#indexProD img{
    display: block;
}
#indexProD .d1{
    display: flex;
    border: 1px solid;
}
#indexProD .d2{
    border-left: 1px solid;
}
#indexProD .d2 a + a{
    border-top: 1px solid;
}
#indexProD a{display: block;}
#indexProD .f_yellow,#indexProD .f_yellow a{color: #caa700;}
#indexProD .f_pink,#indexProD .f_pink a{color: #d0515f;}
#indexProD .f_origin,#indexProD .f_origin a{color: #df6b3a;}

/*login*/
.loginD{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2a2a2a;
    flex-direction: column;
}
.loginD .loginCont{
    background: #FFF;
    border-radius: 10px;
    margin:30px auto;
    padding: 16px 25px 30px;
    border: 1px solid #e4e4e4;
}
.loginD .tit{
    font-weight: bold;
    font-size: 16px;
}
.loginD .imgD{
    padding: 60px 90px;
}
.loginD .btnD .dis{
    background: #e3e3e3;
    text-align: center;
    line-height: 4;
    border-radius: 2em;
    font-size: 14px;
    width: 309px;
    margin: 0 auto;
    display: block;
    color: #2a2a2a;
}
.loginD .regist{

padding: 25px 40px 0;

font-size: 14px;
}
.loginD .regist .li{
    display: block;
    margin-bottom: 15px;
}
.loginD .regist .head{
    margin-bottom: 5px;
    display: block;
}
.loginD .regist .d1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.loginD .regist .inp{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    flex: 1;
}
.loginD .regist .inp + .btnAn{
    margin-left: 1em;
}
.checkboxD{}
.checkboxD .checkbox{
    opacity: 0;
    position: absolute;
}
.checkboxD label{
    flex:1;
    text-align: center;
}
.checkboxD label + label{
    margin-left: 1em;
}
.checkboxD .checkbox + span{
    border:1px solid #e4e4e4;
    display: block;
    line-height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    height: 47px;
    width: 75px;
}
.checkboxD .checkbox:checked + span {
    border: 2px solid #2672d0;
    position: relative;
}
.checkboxD .checkbox:checked + span:after {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: -2px;
    right: -2px;
    background: url("/images/del.png") no-repeat;
}
.loginD .regist .btnAn{
    background: #2672d0;
    color: #FFF;
    text-align: center;
    padding: 0 2em;
    border-radius: 5px;
    font-weight: bold;
}
.loginD .btnD{
    display: flex;
}
.loginD .btnD .btnAn{
    flex: 1;
    font-size: 16px;
    line-height: 2.5;
}

/*order*/
#main.orderD{display: flex;border-top: 1px solid #ced3d8;align-items: stretch;}
#orderMenu{
    /* width: 238px; */
    text-align: center;
    border-right: 1px solid #dcdcdc;
    background: #f0f5fb;
}
#orderMenu .tit{
    background: #dde9f8;
    font-weight: bold;
    line-height: 3;
    border-bottom: 2px solid #FFF;
    font-size: 16px;
}
#orderMenu .menuD{
    padding: 10px 15px;
}
#orderMenu .menuD > a{display: block;line-height: 2;font-size: 14px;margin-bottom: 24px;/* padding: 0 2em; */}
#orderMenu .menuD > a.act,
#orderMenu .menuD > a:hover{
    color:#FFF;
    background: #2672d0;
    padding: 0 3em;
}
#main.orderD .orderMain{flex: 1;}

#main.orderD .o_m_top{
    padding:10px 20px;
    background: #FFF;
}
#main.orderD .o_m_top .position{
    background: #f3f3f3;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 14px;
}
#main.orderD .o_m_top .position .p_a{
    margin-right: .5em;
}
#main.orderD .o_m_top .position .p_a:after,.jt:after{
    content: ">";
    padding-left: 1em;
    font-family: Arial;
    font-size: small;
    display: inline-block;
    transform: scale(1,1.7);
}

#main.orderD .o_m_top .position .more{
    text-decoration: unset;
    font-size: 13px;
}
#main.orderD .filter{
    display: flex;
    margin-top: 20px;
    font-size: 13px;
    align-items: baseline;
}
#main.orderD .filter .d1{
    padding-right: 0.5em;
    color: #828282;
    white-space: nowrap;
}
#main.orderD .filter .d2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    color: #434343;
}

#main.orderD .filter .d2 select{
    border: 1px solid #dbdbdb;
    height: 2em;
    flex: 1;
}
#main.orderD .filter .d2 > label{
    flex: 0 0 20%;
    display: flex;
    padding-right: 2em;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 10px;
}
#main.orderD .filter .d2 label > span{
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
}
/*选择*/

#main.orderD .o_m_main{display: flex;text-align: center;border-top: 2px solid #2672d1;border-bottom: 1px solid #d3d3d3;}
#main.orderD .o_m_main li{flex: 1;background: #FFF;}
#main.orderD .o_m_main li:nth-child(2n){
    background: #fafafa;
}
#main.orderD .o_m_main .tit{background: #f0f5fb;color:#2a2a2a;font-weight: bold;line-height: 2.5;border-right: 1px solid #FFF;border-bottom: 1px solid #FFF;}

#main.orderD .o_m_main li:last-child .tit{
    border-right: none;
}
#main.orderD .o_m_main .nr{
    padding: 10px;
    border-right: 1px dashed #d3d3d3;
    font-size: 14px;
}
#main.orderD .o_m_main li:last-child .nr{
    border-right: none;
}
#main.orderD .o_m_main .nr > label{
    margin-bottom: 10px;
    display: block;
}
#main.orderD .o_m_main .nr > label .checkI{
    color:#ff6000;
    position: absolute;
    right: 0.8em;
    cursor:pointer;
}
#main.orderD .o_m_main .nr > label > span{
    position: relative;
    display: block;
    line-height: 2.5;
}
#main.orderD .o_m_main .nr > label input[type='radio']{
    position: absolute;
    opacity: 0;
}
#main.orderD .o_m_main .nr > label input[type='radio']:checked + span,#main.orderD .o_m_main .nr > label span:hover{
    color: #FFF;
    font-weight: bold;
    background: #2672d0;
    }
#main.orderD .o_m_main .nr > label input[type='radio']:checked + span > .checkI,#main.orderD .o_m_main .nr > label .checkI:hover{
    color: #FFF;}
#main.orderD .o_m_main .nr > label i{font-style: normal;background:#f13b1d;color: #FFF;line-height: 1;border-radius: 2px;position: absolute;font-size: 11px;top: 30%;padding: 1px;margin-left: 2px;transform: scale(0.7,0.7);transform-origin: 0 0;font-weight: normal;}
/* 提交订单 */
#main.orderD .o_m_order{
    padding: 10px 20px 20px;
    background: #FFF;
}
#main.orderD .o_m_order .dis{
    background: #fff6e1;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#main.orderD .o_m_order .d2{
    display: flex;
}
#main.orderD .o_m_order .remark{
    flex: 1;
    margin-right: 10%;
}
#main.orderD .o_m_order .remark textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    background: #f6f6f6;
}
#main.orderD .o_m_order .remark .proId{font-size: 12px;color: #919191;}
#main.orderD .o_m_order .info{
    font-size: 14px;
}
#main.orderD .o_m_order .info li{display: flex;align-items: baseline;margin-bottom: 10px;}
#main.orderD .o_m_order .info .s1{
    width: 4em;
    text-align: right;
    margin-right: 1em;
}
#main.orderD .o_m_order .info .s2{
    text-align: right;
    flex: 1;
}
#main.orderD .o_m_order #num{
    width: 44px;
    vertical-align: top;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    height: 24px;
    padding: 0 .5em;
    box-sizing: border-box;
    text-align: right;
}
#main.orderD .o_m_order .info .btnAn{
    display: block;
    width: 100%;
    line-height: 2.5;
    border-radius: 4px;
    font-size: 18px;
    color: #FFF;
    background: #f13b1d;
    /* margin-top: 10px; */
}

/*图片展示*/
#main.orderD .o_m_main2{display: flex;flex-wrap: wrap;background: #FFF;border-bottom: 1px solid #f0f0f0;/* height: 400px; *//* overflow-y: scroll; */border-top: 2px solid #2672d1;}
#main.orderD .o_m_main2 li{
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    flex: 0 0 25%;
    box-sizing: border-box;
    max-width: 300px;
}
#main.orderD .o_m_main2 li .d1{
    padding: 16px;
    border-right: 1px solid #f0f0f0;
}
#main.orderD .o_m_main2 li img{
    width: 100%;
}
/*图片展示弹窗*/
.orderTan{}
.orderTan .swiper-container{
    width: 50%;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 740px;
    overflow: hidden;
}
.orderTan .swiper-container .swiper-wrapper{/* padding: 0 10px; *//* box-sizing: border-box; */}
.orderTan .swiper-container .swiper-slide{
    text-align: center;
}
.orderTan .swiper-container .swiper-slide img{
    max-width: 80%;
    max-height: 70vh;
}
.orderTan .swiper-container .tit{
    font-size: 14px;
    line-height: 3;
    background: #f4f4f4;
    padding: 0 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
.orderTan .swiper-container .close2{
    text-align: center;
    padding: 1em 0;
}
.orderTan .swiper-container .close2 .btnAn{
background: #ddd;
padding: 0 1em;
line-height: 2;
display: inline-block;
border-radius: 2px;
cursor: pointer;
}