@charset "UTF-8";

#header{
    background:#093368;
    color:#FFF;
    padding: 0 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header .logo{
    font-size: 28px;
}
#header .logo img{
    vertical-align: middle;
}
#header a{
    color: #FFF;
}
#header .search{
    margin-right: auto;
    margin-left: 1.5em;
    padding: .3em 0.5em;
    background: #dce5e3;
    border-radius: 2em;
    overflow: hidden;
    flex-shrink: 0;
}
#header .search:before{
    font-family: font_family;
    content: '\e60d';
    color: #112136;
}
#header .search input{
    vertical-align: middle;
    border:none;
    background: none;
    width: 6em;
}
#header .nav{
    display: flex;
    align-items: center;
    height: 82px;
    font-size: 14px;
    margin-left: 1em;
    justify-content: flex-end;
    flex: 1;
}
#header .nav > a{
    /* padding: 0 20px; */
    white-space: nowrap;
    line-height: 82px;
    text-align: center;
    margin-right: 1px;
    max-width: 6em;
    flex: 1;
    height: 82px;
}
#header .nav > a.act,
#header .nav > a:hover{
    background: #921d1d;
}
#header .nav > a.login{
    border: 1px solid #FFF;
    border-radius: 6px;
    padding: 8px 14px;
    white-space: nowrap;
    line-height: 1;
    max-width: 2em;
    margin-left: 1em;
    height: unset;
}
#header .nav > a.login:hover {
    background: #FFF;
    color: #093368;
}
#header .nav .exit{
    margin-left: 1em;
    position: relative;
}
#header .nav .exit .userImg{
    width: 48px;
    height: 48px;border-radius: 50%;overflow: hidden;}
#header .nav .exit a{
    color: #333;
}
#header .nav .exit .exitTan{
    position: absolute;
    background: #FFF;
    right: 0;
    color: #333;
    z-index: 2;
    border:1px solid #cecece;
}
#header .nav .exit .exitTan .ul1{
    padding: 16px 20px;
    white-space: nowrap;
}
#header .nav .exit .exitTan .ul1 li {
    margin-bottom: 4px;
}
#header .nav .exit .userName{}
#header .nav .exit .userName .s1{font-size: 22px}
#header .nav .exit .money b.red{font-size: 18px}
#header .nav .exit .exitTan .btnD{
    text-align: right;
    background: #f8f8f8;
    padding:10px;
}
#header .nav .exit .exitTan .btnD a{
    color: #333;}
#header .nav .shopCart:before{
    font-family: font_family;
    content: '\e60b';
    margin-right: 0.3em;
    font-size: 1.3em;
}
#header .nav .customer:before{
    font-family: font_family;
    content: '\e60c';
    margin-right: 0.3em;
    font-size: 1.3em;
}
#footer{
    background: #6d7785;
    color: #FFF;
    text-align: center;
    margin-top: 16px;
    padding: 24px 0;
    font-size: 12px;
}
#footer .s1{
    display: inline-block;
    color: #a9a9a9;
    margin-top: 1em;
}
#footer .s1 + .s1{
    margin-left: 2em;
}
#footer.footer2{margin-top: 0;}
/*index nav*/
#indexNav{
    background:#FFF;
}
#indexNav .nav{
    /* padding:0 14px; */
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    font-size: 16px;
    padding-top: .5em;
}
#indexNav .nav .act,
#indexNav .nav a:hover{
    border-bottom: 3px solid #921d1d;
}
/* index banner */
#indexBan.swiper-container {
    width: 100%;
    height: 416px;
}
#indexBan .swiper-slide{
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#indexBan .swiper-pagination.w{
    text-align: right;
    width: 1175px;
    left: 50%;
    margin-left: -600px;
}
#indexBan .swiper-pagination-bullet{
    width:10px;
    height: 10px;
}
/* index pro*/
#indexProD{}
#indexProD .w{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#indexProD .floor{
    margin-top: 24px;
}
#indexProD h2{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: normal;
    align-items: baseline;
    margin-bottom: 7px;
}
#indexProD h2 .tit{
    border-left: 4px solid;
    line-height: 1;
    padding-left: 5px;
}
#indexProD .more{
    font-size: 13px;
}
#indexProD img{
    display: block;
}
#indexProD .d1{
    display: flex;
    border: 1px solid;
}
#indexProD .d2{
    border-left: 1px solid;
}
#indexProD .d2 a + a{
    border-top: 1px solid;
}
#indexProD a{display: block;}
#indexProD .f_yellow,#indexProD .f_yellow a{color: #caa700;}
#indexProD .f_pink,#indexProD .f_pink a{color: #d0515f;}
#indexProD .f_origin,#indexProD .f_origin a{color: #df6b3a;}

/*login*/
.loginD{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#2a2a2a;
    flex-direction: column;
}
.loginD .loginCont{
    background: #FFF;
    border-radius: 10px;
    margin:30px auto;
    padding: 16px 25px 30px;
    border: 1px solid #e4e4e4;
}
.loginD .tit{
    font-weight: bold;
    font-size: 16px;
}
.loginD .imgD{
    padding: 60px 90px;
}
.loginD .btnD .dis{
    background: #e3e3e3;
    text-align: center;
    line-height: 4;
    border-radius: 2em;
    font-size: 14px;
    width: 309px;
    margin: 0 auto;
    display: block;
    color: #2a2a2a;
}
.loginD .regist{

padding: 25px 40px 0;

font-size: 14px;
}
.loginD .regist .li{
    display: block;
    margin-bottom: 15px;
}
.loginD .regist .head{
    margin-bottom: 5px;
    display: block;
}
.loginD .regist .d1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.loginD .regist .inp{
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    flex: 1;
}
.loginD .regist .inp + .btnAn{
    margin-left: 1em;
}
.checkboxD{}
.checkboxD .checkbox{
    opacity: 0;
    position: absolute;
}
.checkboxD label{
    flex:1;
    text-align: center;
}
.checkboxD label + label{
    margin-left: 1em;
}
.checkboxD .checkbox + span{
    border:1px solid #e4e4e4;
    display: block;
    line-height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    height: 47px;
    width: 75px;
}
.checkboxD .checkbox:checked + span {
    border: 2px solid #2672d0;
    position: relative;
}
.checkboxD .checkbox:checked + span:after {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: -2px;
    right: -2px;
    background: url("/images/del.png") no-repeat;
}
.loginD .regist .btnAn{
    background: #2672d0;
    color: #FFF;
    text-align: center;
    padding: 0 2em;
    border-radius: 5px;
    font-weight: bold;
}
.loginD .btnD{
    display: flex;
}
.loginD .btnD .btnAn{
    flex: 1;
    font-size: 16px;
    line-height: 2.5;
}

/*order*/
#main.orderD{display: flex;border-top: 1px solid #ced3d8;align-items: stretch;}
#orderMenu{
    /* width: 238px; */
    text-align: center;
    border-right: 1px solid #dcdcdc;
    background: #f0f5fb;
}
#orderMenu .tit{
    background: #dde9f8;
    font-weight: bold;
    line-height: 3;
    border-bottom: 2px solid #FFF;
    font-size: 16px;
}
#orderMenu .menuD{
    padding: 10px 15px;
}
#orderMenu .menuD > a{display: block;line-height: 2;font-size: 14px;margin-bottom: 24px;/* padding: 0 2em; */}
#orderMenu .menuD > a.act,
#orderMenu .menuD > a:hover{
    color:#FFF;
    background: #2672d0;
    padding: 0 3em;
}
#main.orderD .orderMain{flex: 1;}

#main.orderD .o_m_top{
    padding:10px 20px;
    background: #FFF;
}
#main .position{
    background: #f3f3f3;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 14px;
}
#main .position .p_a{
    margin-right: .5em;
}
#main .position .p_a:after,.jt:after{
    content: ">";
    padding-left: 1em;
    font-family: Arial;
    font-size: small;
    display: inline-block;
    transform: scale(1,1.7);
}

#main .position .more{
    text-decoration: unset;
    font-size: 13px;
}
#main.orderD .filter{
    display: flex;
    margin-top: 20px;
    font-size: 13px;
    align-items: baseline;
}
#main.orderD .filter .d1{
    padding-right: 0.5em;
    color: #828282;
    white-space: nowrap;
}
#main.orderD .filter .d2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    color: #434343;
}

#main.orderD .filter .d2 select{
    border: 1px solid #dbdbdb;
    height: 2em;
    flex: 1;
}
#main.orderD .filter .d2 > label{
    flex: 0 0 20%;
    display: flex;
    padding-right: 2em;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 10px;
}
#main.orderD .filter .d2 label > span{
    text-align: right;
    padding-right: 0.5em;
    white-space: nowrap;
}
/*选择*/

#main.orderD .o_m_main{display: flex;text-align: center;border-top: 2px solid #2672d1;border-bottom: 1px solid #d3d3d3;}
#main.orderD .o_m_main li{flex: 1;background: #FFF;}
#main.orderD .o_m_main li:nth-child(2n){
    background: #fafafa;
}
#main.orderD .o_m_main .tit{background: #f0f5fb;color:#2a2a2a;font-weight: bold;line-height: 2.5;border-right: 1px solid #FFF;border-bottom: 1px solid #FFF;}

#main.orderD .o_m_main li:last-child .tit{
    border-right: none;
}
#main.orderD .o_m_main .nr{
    padding: 10px;
    border-right: 1px dashed #d3d3d3;
    font-size: 14px;
}
#main.orderD .o_m_main li:last-child .nr{
    border-right: none;
}
#main.orderD .o_m_main .nr > label{
    margin-bottom: 10px;
    display: block;
}
#main.orderD .o_m_main .nr > label .checkI{
    color:#ff6000;
    position: absolute;
    right: 0.8em;
    cursor:pointer;
}
#main.orderD .o_m_main .nr > label > span{
    position: relative;
    display: block;
    line-height: 2.5;
}
#main.orderD .o_m_main .nr > label input[type='radio']{
    position: absolute;
    opacity: 0;
}
#main.orderD .o_m_main .nr > label input[type='radio']:checked + span,#main.orderD .o_m_main .nr > label span:hover{
    color: #FFF;
    font-weight: bold;
    background: #2672d0;
    }
#main.orderD .o_m_main .nr > label input[type='radio']:checked + span > .checkI,#main.orderD .o_m_main .nr > label .checkI:hover{
    color: #FFF;}
#main.orderD .o_m_main .nr > label i{font-style: normal;background:#f13b1d;color: #FFF;line-height: 1;border-radius: 2px;position: absolute;font-size: 11px;top: 30%;padding: 1px;margin-left: 2px;transform: scale(0.7,0.7);transform-origin: 0 0;font-weight: normal;}
/* 提交订单 */
#main.orderD .o_m_order{
    padding: 10px 20px 20px;
    background: #FFF;
}
#main.orderD .o_m_order .dis{
    background: #fff6e1;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#main.orderD .o_m_order .d2{
    display: flex;
}
#main.orderD .o_m_order .remark{
    flex: 1;
    margin-right: 10%;
}
#main.orderD .o_m_order .remark textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    background: #f6f6f6;
}
#main.orderD .o_m_order .remark .proId{font-size: 12px;color: #919191;}
#main.orderD .o_m_order .info{
    font-size: 14px;
}
#main.orderD .o_m_order .info li{display: flex;align-items: baseline;margin-bottom: 10px;}
#main.orderD .o_m_order .info .s1{
    width: 4em;
    text-align: right;
    margin-right: 1em;
}
#main.orderD .o_m_order .info .s2{
    text-align: right;
    flex: 1;
}
#main.orderD .o_m_order #num{
    width: 44px;
    vertical-align: top;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    height: 24px;
    padding: 0 .5em;
    box-sizing: border-box;
    text-align: right;
}
#main.orderD .o_m_order .info .btnAn{
    display: block;
    width: 100%;
    line-height: 2.5;
    border-radius: 4px;
    font-size: 18px;
    color: #FFF;
    background: #f13b1d;
    /* margin-top: 10px; */
}

/*图片展示*/
#main.orderD .o_m_main2{display: flex;flex-wrap: wrap;background: #FFF;border-bottom: 1px solid #f0f0f0;/* height: 400px; *//* overflow-y: scroll; */border-top: 2px solid #2672d1;}
#main.orderD .o_m_main2 li{
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    flex: 0 0 25%;
    box-sizing: border-box;
    max-width: 300px;
}
#main.orderD .o_m_main2 li .d1{
    padding: 16px;
    border-right: 1px solid #f0f0f0;
}
#main.orderD .o_m_main2 li img{
    width: 100%;
}
/*图片展示弹窗*/
.orderTan{}
.orderTan .swiper-container{
    width: 50%;
    background: #FFF;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 740px;
    overflow: hidden;
    border: 2px solid #b3b3b3;
}
.orderTan .swiper-container .swiper-wrapper{/* padding: 0 10px; *//* box-sizing: border-box; */}
.orderTan .swiper-container .swiper-slide{
    text-align: center;
}
.orderTan .swiper-container .swiper-slide img{
    max-width: 80%;
    max-height: 70vh;
}
.orderTan .swiper-container .tit{
    font-size: 14px;
    line-height: 3;
    background: #f4f4f4;
    padding: 0 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
.orderTan .swiper-container .close2{
    text-align: center;
    padding: 1em 0;
}
.orderTan .swiper-container .close2 .btnAn{
    background: #ddd;
    padding: 0 1em;
    line-height: 2;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}

/*购物车*/
.rmb{
    /* font-size: 16px; */
}
.rmb:before{
    content: '￥';
}
#main.shopCart{
    padding: 14px;
    background: #FFF;
    min-height: 70vh;
}
#main.shopCart .tit{
    font-weight: bold;
    color: #2672d0;
    border-bottom: 2px solid #2672d0;
    padding-bottom: .5em;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#main.shopCart .tit a{
    text-decoration: unset;
}
#main.shopCart .tabD{
    font-size: 13px;
    text-align: center;
}
#main.shopCart .tabD table{
    width: 100%;
    border-collapse: collapse;
}
#main.shopCart .shopHead{
    line-height: 3.5;
}
#main.shopCart .shopHead th{
    padding: 0 1em;
}
#main.shopCart input[type='checkbox']{
    vertical-align: middle;
    width: 18px;
    height: 18px;
}
#main.shopCart .shopHead .selectAll + span{
    position: absolute;
    margin-left: .5em;
}
#main.shopCart .shopName{
    line-height: 3;
    background: #f4f5f9;
    border: 1px solid #e6e7e8;
}
.t_left{
    text-align: left;
}
#main.shopCart .shopNr{
     border: 1px solid #e6e7e8;
     border-collapse: collapse;
     background: #fcfcfc;
     vertical-align: top;
}
#main.shopCart .shopNr td{
    padding: 1.5em 1em;
}
#main.shopCart .shopNr .t_left{
    padding-left: 0;
}
#main.shopCart .proI{
    width: 80px;
    height: 80px;
    border: 1px solid #d6d6d6;
    vertical-align: top;
    margin-right: 0.5em;
}
#main.shopCart .numsD{display: flex;justify-content: center;}
#main.shopCart .numsD input{width: 3em;margin:0 .5em;padding:0 .5em;text-align: center;}
#main.shopCart .btnD{
    display: flex;
    background: #e9e9ee;
    padding-left: 1em;
    justify-content: space-between;
    align-items: center;
}

#main.shopCart .ge{
    height: 1.2em;
}
#main.shopCart u{cursor: pointer;}
#main.shopCart .btnD .rmb{font-size: 16px;}
#main.shopCart .btnD .rmb.font30{font-size: 30px;}
#main.shopCart .btnD .btnAn.noBtnAn{
    background: #aeb0ba;
}
#main.shopCart .btnD .btnAn{
    line-height: 2.5;
    padding: 0 2em;
    font-size: 21px;
    color: #FFF;
    margin-left: 20px;
    background: #ff4400;
    display: inline-block;
}
/* 填写收货地址 */
#main.shopCart .address{
    padding: 20px;
}
#main.shopCart .address li{
    margin-bottom: 1em;
}
#main.shopCart .address .s1{
    display: inline-block;
    width: 6em;
    text-align: right;
    font-size: 13px;
}
#main.shopCart .address input,
#main.shopCart .address select{
    margin-right: 1em;
    padding: .5em;
    font-size: 12px;
}
#main.shopCart .address .inp{
    width: 475px;
}
#main.shopCart .address .btnD2{
    padding-left: 5.2em;
    margin-top: 1em;
}
#main.shopCart .address .btnAn{
    background: #2672d0;
    color: #FFF;
    font-size: 14px;
    padding: .5em 2em;
    border-radius: 3px;
}
#main.shopCart .myAddress{
    font-size: 13px;
    padding: 1em 0;
}
#main.shopCart .myAddress tr.default{display: table-row;}
#main.shopCart .myAddress .d1{
    border: 2px solid #FFF;
    padding: 8px;
    position: relative;
}
#main.shopCart .myAddress .default .d1{
border: 2px solid #ff4400;
}
#main.shopCart .myAddress .default .d1:after{
    content: '';
    background: url("../images/ok.png");
    width: 17px;
    height: 17px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#main.shopCart .myAddress .default .del{
    display: none;}
#main.shopCart .myAddress .default .modify{}
#main.shopCart .myAddress tr{display: none}
#main.shopCart .myAddress td{padding: 0.5em 3em 0.5em 0;}
#main.shopCart .myAddress a{text-decoration: unset;}
#main .moreAddress{
    padding-left: 1em;}
#main .moreAddress:after{
    content: '>>';
    display: inline-block;
    font-size: 11px;
    letter-spacing: -3px;
    transform: scale(2,1) rotate(90deg);
    margin-left: 1em;
    position: relative;
    top: -1px;
}
#main .moreAddress.collapse:after{
    transform: scale(2,1) rotate(-90deg);
    top: 1px;
}
#main .myAddress .blue{cursor: pointer;}

#main.shopCart .tabD.tabD2{}
.t_right{text-align: right;}
#main.shopCart .tabD.tabD2 .t_left{
    padding-left: 1em;}
#main.shopCart .tabD.tabD2 .fare{
    line-height: 3;
    background: #f4f5f9;
    border: 1px solid #e6e7e8;
    text-align: right;
}

#main.shopCart .tabD.tabD2 .fare .total{
    padding-right: 2em;
}
#main.shopCart .tabD.tabD2 .fare .rmb{
    width: 110px;
    display: inline-block;
}
#main.shopCart .tabD.tabD2 .shopNr .rmb{
    padding-right: 1em;
}
/*支付弹窗*/
.payTan{}
.payTan .tanCont{
    background: #FFF;
    border-radius: 10px;
    max-width: 740px;
    overflow: hidden;
    border: 2px solid #b3b3b3;
}
.payTan .tit{
    font-size: 14px;
    line-height: 3;
    background: #f4f4f4;
    padding: 0 1em;
    font-weight: bold;
    margin-bottom: 1em;
    position: relative;
}
.payTan .tit .close2{
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(/images/close.png);
    right: 1em;
    top: 0.7em;
    cursor: pointer;
}
.payTan .tanNr{
    text-align: center;
    padding: 1em 150px 2em;
}
.payTan .payErwei{
    border: 1px solid #dedede;
}
.payTan .payErwei img{
    display: block;
    width: 237px;
}
.payTan .tanCont > .btnD{
    border-top: 1px solid #d6d6d6;
    margin: 0 10px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payTan .tanCont > .btnD img{
    vertical-align: middle;
    margin-right: 0.5em;
}
.payTan .btnD .wechat{
    display: block;
    background: #65d12a;
    color: #FFF;
    line-height: 2.5;
    border-radius: 2em;
    margin-top: 1em;
}
.btnAnRed{
    background: #ff5757;
    color:#FFF;
    line-height: 2;
    padding: 0 1.5em;
    border-radius: 5px;
}
/*个人中心*/
#main.userD{
    flex-direction: row;
    display: flex;
    padding: 0;
    background: #f3f3f3;
}
#main.userD .userMenu{
    background: #2f415a;
}
#main.userD .userMenu a.act,
#main.userD .userMenu a:hover{
    background-color: #3a78c9;
}
#main.userD .userMenu a{
    display: block;
    color:#FFF;
    font-weight: bold;
    padding: 0 2em;
    line-height: 2.5;
    margin-bottom: .5em;
}
#main.userD .userMain{
    flex:1;
}
#main.userD .u_m_D{
    background: #FFF;
    margin: 0 20px;
    border:1px solid #ced3d8;
    padding: 40px 30px;
    min-height: 90vh;
}
#main.userD .u_m_D2{
    padding: 0;

}
#main.userD .u_m_D2 .userInfo{
    padding: 20px 20px 0;
}
#main.userD .userInfo{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1.5em;
    align-items: center;
}
#main.userD .userImgD{
    margin-right: 1em;
}
#main.userD .userImgD img{
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 4px;
    overflow: hidden;
}
#main.userD .userInfo .dis{
    background: #fffaef;
    line-height: 2.5;
    padding: 0 1em;
    margin-top: .5em;
}
#main.userD .userInfo .d2{
    flex:1;
}
#main.userD .u_m_D .tag{
    border-bottom: 2px solid #2672d1;
    padding: 0 1em;
    margin-bottom: 1.5em;
}
#main.userD .u_m_D .tag span{
    display: inline-block;
    padding: 0 2em;
    border-radius: 3px 3px 0 0;
    line-height: 2.5;
    color: #2672d1;
    cursor: pointer;
    font-size: 13px;
}
#main.userD .u_m_D .tag span.act,
#main.userD .u_m_D .tag span:hover{
    color: #FFF;
    background: #2672d1;
    font-weight: bold;
}
#main.userD .u_m_D .tagD{
    padding: 0 20px 20px;
}
#main.userD .u_m_D .tagD label.btnAnRed{
    width: 130px;
}
#main.userD .u_m_D .tagD label span{
    display: flex;
    position: relative;
    height: 68px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 1px;
}
#main.userD .u_m_D .tagD label input[type='radio']{
    position: absolute;
    opacity: 0;
}
#main.userD .u_m_D .tagD label input[type='radio']:checked + span {
    border:2px solid red;
    padding: 0;
}
#main.userD .u_m_D .tagD label input[type='radio']:checked + span:after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background: url("/images/ok.png") no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
#main.userD .u_m_D .tagD .recharge td{
    padding: 0 1em;
    line-height: 2.5;
    font-size: 14px;
}
#main.userD .u_m_D .tagD .recharge td b{
    font-size: 16px;
}
#main.userD .u_m_D .tagD .btnAnRed{
    width: 180px;
    line-height: 2.5;
    font-size: 16px;
    display: inline-block;
    margin-top: 1em;
}
#main.userD .u_m_D .tagD .in:before{content: '+ '}
#main.userD .u_m_D .tagD .out:before{content: '- '}
#main.userD .m_o_tab .shopNr td{
    border: 1px solid #e6e7e8;
    vertical-align: middle;
}
.operate a{
    display: block;
    line-height: 2.5;
}
.btnFile{
    background: #ff6600;
    font-weight: bold;
}
.btnFile input{
    position: absolute;
    opacity: 0;
}
.pageTurn{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
}
.pageTurn .pageNum{
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 1em;
    background: #ececec;
    line-height: 28px;
}
.pageTurn .pageNum.act{
    background: #2672d1;
    color: #FFF;
}
.pageTurn .inpPage{
    width: 3em;
    height: 28px;
    box-sizing: border-box;
    padding: 0 .5em;
    text-align: center;
    margin-right: 1em;
    border: 1px solid #ececec;
}
.pageTurn .jump{
    border: 1px solid #ececec;
    line-height: 28px;
    padding: 0 1em;
    margin-right: 1em;
}
.pageTurn .nextPage{}
.pageTurn .nextPage img{vertical-align: middle;}